@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    @include flexMid;
    position: fixed;
    flex-direction: column;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

.container {
    @include flexMid;
    flex-direction: column;
    background-color: #000;
    border-radius: 1rem;
    border: rgba(148, 0, 249, 1) solid;

    &>form {
        @include flexMid;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        margin: 2rem 0;
        gap: 1rem;

        &>input {
            width: 20rem;
            height: 2rem;
            border-radius: .2rem;
            color: #000;
            font-weight: bold;
            outline: none;
            padding-left: 1rem;
        }

    }
}

.button,
.download {
    width: 6rem;
    height: 2rem;
    background: linear-gradient(156deg, rgba(148, 0, 249, 1) 0%, rgba(69, 252, 212, 1) 100%);
    color: rgb(23, 21, 77);
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:active {
        scale: .95;
        background: linear-gradient(156deg, rgb(91, 0, 151) 0%, rgb(1, 135, 106) 100%);
    }
}
.button {
    margin-top: 1rem;
}

.download {
    margin: 2rem 0;
}

.close {
    width: 4rem;
    border-radius: .2rem;
    color: #000;
    margin-bottom: 2rem;
    cursor: pointer;

    &:active {
        scale: .95;
        background: rgb(154, 154, 154);
    }
}

.strong {
    text-align: center;
    margin-bottom: 2rem;
}

/* Mobile */
@media (max-width: 700px) {
    .container {
        width: 300px;
        
        &>form >input {
            width: 80%;
        }
        
        &>img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .container {
        width: 600px;
        
        &>form >input {
            width: 90%;
        }
        
        &>img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}